tests/io/ccsds/data/xsd/ndmxml-1.0-tdm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ndm="urn:ccsds:recommendation:navigation:schema:ndmxml"
            targetNamespace="urn:ccsds:recommendation:navigation:schema:ndmxml"
            elementFormDefault="unqualified" 
            attributeFormDefault="unqualified">

<!--********************************************************************-->

<!--********************************************************************-->
<!-- NOTE: This is version 1.0, Rev C of the NDM/XML Schema (09/03/2019)-->
<!-- This component of the schema is the "TDM" module, which contains   -->
<!-- elements that are used exclusively in the Tracking Data Message    -->
<!-- (TDM).                                                             -->
<!--                                                                    -->
<!-- Compatible document versions are:                                  -->
<!--    NDM/XML 505.0-B-1   Blue Book (12/2010)                         -->
<!--    TDM     503.0-B-1.0 Blue Book (11/2007)                         -->
<!--                                                                    -->
<!--********************************************************************-->

<!-- *********************  BLUE BOOK CHANGE LOG  ********************* -->
<!-- 03/14/2010: Original implemementation of schemas.                  -->
<!-- 10/13/2017: Rev A: Modified to include revA common schemas.        -->
<!-- 08/29/2018: Rev B: Modified to remove revision version from file   -->
<!--                    names, since file names on SANA were static     -->
<!--                    and the schemas basically did not work.         -->
<!-- 09/03/2019: Rev C: No modifications to this schema; preparation of -->
<!--                    schema set for introduction of the RDM.         -->
<!--********************************************************************-->

<!--********************************************************************-->
<!-- Include common schemas                                             -->
<!--********************************************************************-->

<xsd:include schemaLocation="./ndmxml-1.0-navwg-common.xsd"/>
<xsd:include schemaLocation="./ndmxml-1.0-ccsds-common.xsd"/>


<!--********************************************************************-->
<!-- A TDM consists of a "header" and a "body".  The header is a        -->
<!-- construct that is shared by all NDM's, found in the "common" schema-->
<!--********************************************************************-->

<xsd:complexType name="tdmType">
   <xsd:sequence>
      <xsd:element name="header" type="ndm:ndmHeader"/>
      <xsd:element name="body"   type="ndm:tdmBody"/>       
   </xsd:sequence>
   <xsd:attribute name="id"      use="required"  fixed="CCSDS_TDM_VERS"/>
   <xsd:attribute name="version" use="required"  fixed="1.0"/>
</xsd:complexType>


<!--********************************************************************-->
<!-- The TDM "body" consists of 1 or more "segments", described below.  -->
<!--********************************************************************-->

<xsd:complexType name="tdmBody">
   <xsd:sequence>
      <xsd:element name="segment" type="ndm:tdmSegment" 
         minOccurs="1" maxOccurs="unbounded"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- The TDM "segment" consists of a "metadata" section and a "data"    -->
<!-- section.  The segment construct is specifically stated in the      -->
<!-- structure of each TDM as described in the TDM specification.       -->
<!--********************************************************************-->  

<xsd:complexType name="tdmSegment">
   <xsd:sequence>
      <xsd:element name="metadata" type="ndm:tdmMetadata"/>
      <xsd:element name="data" type="ndm:tdmData"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- TDM Metadata Section                                               -->
<!--********************************************************************-->

<xsd:complexType name="tdmMetadata">
   <xsd:sequence>
      <xsd:element name="COMMENT" type="xsd:string" 
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="TIME_SYSTEM"  type="ndm:timeSystemType"/>
      <xsd:element name="START_TIME"   type="ndm:epochType" minOccurs="0" />
      <xsd:element name="STOP_TIME"    type="ndm:epochType" minOccurs="0" />
      <xsd:element name="PARTICIPANT_1" type="xsd:string"/>
      <xsd:element name="PARTICIPANT_2" type="xsd:string" 
         minOccurs="0"/>
      <xsd:element name="PARTICIPANT_3" type="xsd:string"
         minOccurs="0"/>
      <xsd:element name="PARTICIPANT_4" type="xsd:string"
         minOccurs="0"/>
      <xsd:element name="PARTICIPANT_5" type="xsd:string"
         minOccurs="0"/>
      <xsd:element name="MODE" type="ndm:modeType" minOccurs="0" />
      <xsd:choice>
         <xsd:element name="PATH" type="ndm:pathType" minOccurs="0" />
         <xsd:sequence>
            <xsd:element name="PATH_1" type="ndm:pathType" minOccurs="0"/>
            <xsd:element name="PATH_2" type="ndm:pathType" minOccurs="0"/>
         </xsd:sequence>
      </xsd:choice>
      <xsd:element name="TRANSMIT_BAND" type="xsd:string" minOccurs = "0"/>
      <xsd:element name="RECEIVE_BAND" type="xsd:string" minOccurs = "0"/>
      <xsd:element name="TURNAROUND_NUMERATOR" type="xsd:int" minOccurs="0"/>
      <xsd:element name="TURNAROUND_DENOMINATOR" type="xsd:int" minOccurs="0"/>
      <xsd:element name="TIMETAG_REF"  type="ndm:timetagRefType" minOccurs="0" />
      <xsd:element name="INTEGRATION_INTERVAL" type="ndm:positiveDouble" 
         minOccurs="0"/>
      <xsd:element name="INTEGRATION_REF" type="ndm:integrationRefType" 
         minOccurs="0"  />
      <xsd:element name="FREQ_OFFSET" type="xsd:double" default="0.0"
         minOccurs="0" />
      <xsd:element name="RANGE_MODE" type="ndm:rangemodeType" minOccurs="0" />
      <xsd:element name="RANGE_MODULUS" type="ndm:nonNegativeDouble" 
         default="0.0" minOccurs="0"/>
      <xsd:element name="RANGE_UNITS" type="ndm:rangeUnitsType" minOccurs="0"/>
      <xsd:element name="ANGLE_TYPE" type="ndm:angleTypeType"   minOccurs="0"/>
      <xsd:element name="REFERENCE_FRAME" type="ndm:refFrameType" minOccurs="0" />
      <xsd:element name="TRANSMIT_DELAY_1"       type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="TRANSMIT_DELAY_2"       type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="TRANSMIT_DELAY_3"       type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="TRANSMIT_DELAY_4"       type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="TRANSMIT_DELAY_5"       type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="RECEIVE_DELAY_1"        type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="RECEIVE_DELAY_2"        type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="RECEIVE_DELAY_3"        type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="RECEIVE_DELAY_4"        type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="RECEIVE_DELAY_5"        type="ndm:nonNegativeDouble"   
         default="0.0" minOccurs="0"  />
      <xsd:element name="DATA_QUALITY" type="ndm:dataQualityType" 
         default="RAW" minOccurs="0" /> 
      <xsd:element name="CORRECTION_ANGLE_1"  type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTION_ANGLE_2"  type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTION_DOPPLER"  type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTION_RANGE"    type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTION_RECEIVE"  type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTION_TRANSMIT" type="xsd:double" minOccurs="0" />
      <xsd:element name="CORRECTIONS_APPLIED" type="ndm:yesNoType"  minOccurs="0" />
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- TDM Data Section                                                   -->
<!--********************************************************************-->

<xsd:complexType name="tdmData">
   <xsd:sequence>
      <xsd:element name="COMMENT" type="xsd:string" 
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="observation" 
         type="ndm:trackingDataObservationType" 
         minOccurs="1" maxOccurs="unbounded"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- Simple Types and Complex Types unique to the TDM                   -->
<!--********************************************************************-->

<!--********************************************************************-->
<!-- NOTE:  The following structure of the TDM Data Section is based on -->
<!-- an "observation".  Each observation contains a given epoch time,   -->
<!-- and the observable as of the epoch time. This structure reduces the-->
<!-- pre-processing required to build a TDM from disparate input        -->
<!-- sources.                                                           -->
<!--********************************************************************-->
<xsd:complexType name="trackingDataObservationType">
   <xsd:sequence>
      <xsd:element name="EPOCH"   type="ndm:epochType"/>
      <xsd:choice>
         <xsd:element name="ANGLE_1"               type="ndm:angleType"/>
         <xsd:element name="ANGLE_2"               type="ndm:angleType"/>
         <xsd:element name="CARRIER_POWER"         type="xsd:double"/>
         <xsd:element name="CLOCK_BIAS"            type="xsd:double" default="0.0"/>
         <xsd:element name="CLOCK_DRIFT"           type="xsd:double" default="0.0"/> 
         <xsd:element name="DOPPLER_INSTANTANEOUS" type="xsd:double"/>
         <xsd:element name="DOPPLER_INTEGRATED"    type="xsd:double"/>
         <xsd:element name="DOR"                   type="xsd:double"/>
         <xsd:element name="PC_N0"                 type="xsd:double"/>
         <xsd:element name="PR_N0"                 type="xsd:double"/>
         <xsd:element name="PRESSURE"              type="xsd:double"/>
         <xsd:element name="RANGE"                 type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ"          type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ_1"        type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ_2"        type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ_3"        type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ_4"        type="xsd:double"/>
         <xsd:element name="RECEIVE_FREQ_5"        type="xsd:double"/>
         <xsd:element name="RHUMIDITY"             type="ndm:percentType"/>
         <xsd:element name="STEC"                  type="xsd:double" />
         <xsd:element name="TEMPERATURE"           type="ndm:nonNegativeDouble"/>
         <xsd:element name="TRANSMIT_FREQ_1"       type="ndm:positiveDouble"/>
         <xsd:element name="TRANSMIT_FREQ_2"       type="ndm:positiveDouble"/>
         <xsd:element name="TRANSMIT_FREQ_3"       type="ndm:positiveDouble"/>
         <xsd:element name="TRANSMIT_FREQ_4"       type="ndm:positiveDouble"/>
         <xsd:element name="TRANSMIT_FREQ_5"       type="ndm:positiveDouble"/>
         <xsd:element name="TRANSMIT_FREQ_RATE_1"  type="xsd:double"/>
         <xsd:element name="TRANSMIT_FREQ_RATE_2"  type="xsd:double"/>
         <xsd:element name="TRANSMIT_FREQ_RATE_3"  type="xsd:double"/>
         <xsd:element name="TRANSMIT_FREQ_RATE_4"  type="xsd:double"/>
         <xsd:element name="TRANSMIT_FREQ_RATE_5"  type="xsd:double"/>
         <xsd:element name="TROPO_DRY"             type="ndm:nonNegativeDouble"/>
         <xsd:element name="TROPO_WET"             type="ndm:nonNegativeDouble"/>
         <xsd:element name="VLBI_DELAY"            type="xsd:double"/>
      </xsd:choice>
   </xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="angleTypeType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AZEL"/>
      <xsd:enumeration value="azel"/>
      <xsd:enumeration value="RADEC"/>
      <xsd:enumeration value="radec"/>
      <xsd:enumeration value="XEYN"/>
      <xsd:enumeration value="xeyn"/>
      <xsd:enumeration value="XSYE"/>
      <xsd:enumeration value="xsye"/>
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="dataQualityType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="raw"/>
      <xsd:enumeration value="RAW"/>
      <xsd:enumeration value="validated" />      
      <xsd:enumeration value="VALIDATED" />
      <xsd:enumeration value="degraded" />      
      <xsd:enumeration value="DEGRADED" />
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="integrationRefType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="START"/>
      <xsd:enumeration value="start"/>
      <xsd:enumeration value="MIDDLE"/>
      <xsd:enumeration value="middle"/>
      <xsd:enumeration value="END"/>
      <xsd:enumeration value="end"/>
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="modeType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SEQUENTIAL"/>
      <xsd:enumeration value="sequential"/>
      <xsd:enumeration value="SINGLE_DIFF" />
      <xsd:enumeration value="single_diff" />
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="pathType">
     <xsd:restriction base="xsd:string">
        <xsd:pattern value="\d{1},\d{1}(,\d{1})*"/>
     </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="rangemodeType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="coherent"/>
      <xsd:enumeration value="COHERENT"/>
      <xsd:enumeration value="constant"/>
      <xsd:enumeration value="CONSTANT"/>
      <xsd:enumeration value="one_way"/>
      <xsd:enumeration value="ONE_WAY"/>
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="rangeUnitsType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="km"/>
      <xsd:enumeration value="KM"/>
      <xsd:enumeration value="ru"/>
      <xsd:enumeration value="RU"/>
      <xsd:enumeration value="s"/>
      <xsd:enumeration value="S"/>
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="refFrameType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EME2000"/> 
      <xsd:enumeration value="eme2000"/>     
      <xsd:enumeration value="ICRF"/>
      <xsd:enumeration value="icrf"/>
      <xsd:enumeration value="ITRF2000"/>
      <xsd:enumeration value="itrf2000"/>
      <xsd:enumeration value="ITRF-93"/>
      <xsd:enumeration value="itrf-93"/>
      <xsd:enumeration value="ITRF-97"/>
      <xsd:enumeration value="itrf-97"/>
      <xsd:enumeration value="TOD"/>
      <xsd:enumeration value="tod"/>
   </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="timetagRefType">
   <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TRANSMIT"/> 
      <xsd:enumeration value="transmit"/>     
      <xsd:enumeration value="RECEIVE"/>
      <xsd:enumeration value="receive"/>
   </xsd:restriction>
</xsd:simpleType>

</xsd:schema>
